#game * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#game * {
    cursor: default;
}

#game .link, #game .link * {
    cursor: pointer;
}

#game {
	position : absolute;
	left : 0;
	top : 0;

	font-size: xx-large;
	background-color: transparent;
    color: white;

    width : 100%;
    height : 100%;
}

#content {
    z-index: -1;
}

.screen {
    position: absolute;
    left: 0;
    top: 0;

    color: white;

    padding: 0.5em 0.5em 0.5em 0.5em;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

	display : none;

    width : 100%;
    height : 100%;
}

#splash-screen {
    z-index: 0;
    text-align: center;
}

#main-menu-screen {
    z-index: 0;
    text-align: center;
}

#dev-menu-screen {
    z-index: 0;
    text-align: center;
}

#game-over-screen {
    z-index: 0;
    text-align: center;
}

.selected {
    background-color: blue;
}

#dialogs {
    position: absolute;
    left: 0;
    bottom: 0;

    font-size: xx-large;
    background-color: blue;
    color: white;

    border: ridge;
    border-color: white;
    border-width: thick;

    text-align: left;

    padding: 0.5em 0.5em 0.5em 0.5em;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

	display : none;
	z-index : 1;

    width : 100%;
    height : 40%
}

.menu-link {
    border: ridge;
    border-color: white;
    border-width: medium;
}

.message {
    width: 100%;
    height: 100%;
}

#game ul {
    margin: 0;
    list-style-type: square;
}

#status-menu-screen {
    background-color: black;
}